.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.form-icon-btn {
  width: 1.5em;
  height: 1.5em;
  margin:auto;
  color: rgba(0,0,0,.54);
}

.error {
  color: #f44336;
}
